@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Alison Machado Alves<br />
    51 981753755<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">alisonipuc@gmail.com</a><br />
</address>